.container {
    background-color: #401759;
    padding: 10px;
    margin: 0;
}

.lista {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.link {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}