.container {
    display: flex;
    padding: 2em 2em;
    justify-content: space-between;
    gap: 2em;
    width: 540px;
    background-color: #401759;
    border-radius: 75px;
}

.titulo_descricao {
    width: 60%;
    color: #fff;
}

.titulo_descricao input {
    padding: .5em 1em;
    background-color: #fff;
    border-radius: 25px;
    color: #401759;
    border: none;
    margin-bottom: 10px;
    text-align: center;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
}

.descricao {
    width: 100%;
    height: 120px;
    font-size: 18px;
    font-weight: normal;
}

.info_text {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1em;
}

.info_text input {
    border: none;
    display: block;
    width: 100px;
    text-align: center;
    padding: .5em 1em;
    background-color: #fff;
    border-radius: 25px;
    font-size: 24px;
    font-weight: bold;
    color: #401759;
}

.info_text button {
    width: 150px;
    background-color: #F29CDE;
    border: none;
    border-radius: 25px;
    padding: .5em 1em;
    font-size: 24px;
    font-weight: bold;

}