.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container img {
    min-width: 50%;
}

.container_infos {
    color: #401759;
}

.container_infos h1 {
    font-size: 48px;
    margin: 0;
}

.container_infos span {
    font-family: var(--displayFont);
    font-size: 180px;
    font-weight: normal;
}

.container_infos p {
    margin: 0;
    width: 525px;
    font-size: 36px;
}