.container {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 1200px;
    height: 800px;
    border: none;
    border-radius: 44px;
    box-shadow: 0px 4px 12px #0000003a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .form {
    display: flex;
    justify-content: flex-end;
} */

.botao {
    float: inline-end;
    background-color: #F29CDE;
    border: none;
    border-radius: 50%;
    width: 83px;
    height: 83px;
    cursor: pointer;
}